/* styles.css */

body {
    overflow-y: hidden;
  }
  
  .vh-100 {
    height: 100vh;
    overflow-y: auto; /* Enable scrolling for the entire page */
  }
  
  .shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adjust the shadow as needed */
  }
  
  .rounded {
    border-radius: 10px; /* Adjust the border-radius as needed */
  }
  